.gradient-background {
    background: linear-gradient(300deg, #EAECCC, #DBCC95, #C3E2C2, #CD8D7A);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
  }
  
  .profile-img {
    height: 100px;
    border-radius: 50%;
  }
  
  /* Stilul pentru centrat navbar-ul */
.navbar {
  display: flex;
  justify-content: center;
  height: 150px;
  align-items: center;
  font-size: 30px;
  background-color: transparent;
}

/* Stiluri pentru conținutul paginii */
.content {
  padding-top: 100px; /* Ajustați această valoare pentru a evita suprapunerea conținutului sub navbar */
}

/* Stiluri pentru meniul hamburger (pentru ecranele mici) */
@media (max-width: 768px) {
  .navbar {
    position: fixed;
    width: 100%;
    z-index: 1000;
  }

  .content {
    padding-top: 56px; /* Ajustați această valoare pentru a evita suprapunerea conținutului sub navbar pe ecranele mici */
  }
}
  
  /* Stil pentru toate elementele din meniul de navigare */
  .navbar-nav .nav-link {
    color: #CD8D7A;
    font-weight: bold;
  }
  
  /* Schimbarea culorii textului în #CD8D7A */
  .navbar a.nav-link,
  .navbar-brand,
  .dropdown-item {
    color: #CD8D7A;
    font-weight: bold;
  }
  
  .navbar-brand {
    font-size: 50px; /* Ajustează dimensiunea textului pentru navbar-brand */
  }

.d-flex input[type="search"],
.btn-outline-success {
      color: #CD8D7A; /* Culoarea textului */
      background-color: transparent; /* Setează culoarea de fundal transparentă */
      border-color: #CD8D7A; /* Setează culoarea bordurii la #CD8D7A */
}
  
/* Schimbarea culorii de fundal a butonului la hover */
.btn-outline-success:hover {
      background-color: #CD8D7A;
      color: white; /* Culoarea textului pe hover */
}
  
.navbar-brand {
      margin-left: 150px; /* Adaugă o margine la stanga de 150px */
}

    /* questions css */
/* Stilizare pentru tabelul de transport */
#pricing-table {
    text-align: center;
  }
  
  .shipping-table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 70%;
  }
  
  .shipping-table th,
  .shipping-table td {
    border: 1px solid #000;
    padding: 10px;
  }
  
  /* Culori pentru tabel */
  .shipping-table thead {
    background-color: #EAECCC;
  }
  
  .shipping-table tbody tr:nth-child(odd) {
    background-color: #DBCC95;
  }
  
  .shipping-table tbody tr:nth-child(even) {
    background-color: #C3E2C2;
  }

/* Stiluri pentru butonul cu smiley */
 .moving-button {
  position: fixed;
  bottom: 20px; /* Distanța de la partea de jos a ecranului */
  right: 20px; /* Distanța de la partea dreaptă a ecranului */
  background-color: #CD8D7A;
  border: none;
  color: black;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 1s ease-in-out;
}